<nav class="bg-gradient-to-r from-violet-600 to-violet-600 flex items-center justify-between p-4 shadow-lg" style="padding: 25px;">
    <!-- Logo Section -->
    <div class="flex items-center">
        <img src="./static/p2e_logo.png" class="h-10 w-10 mr-4" alt="Logo" > <!-- Adjust logo size here -->
        <a href="/" class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 via-pink-500 to-purple-500 font-bold text-3xl" >P2E: Podcast to Ebook Converter</a>
    </div>
    <!-- Navigation Links -->
    <ul class="flex space-x-6">
        {% if session.is_logged_in %}
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/upload">Upload</a>
        </li>
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/list">Audio List</a>
        </li>
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/ebooks">Ebooks</a>
        </li>
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="text-white text-xl font-semibold hover:bg-transparent hover:text-yellow-400 px-4 py-2 rounded transition duration-300" href="/login">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
